<h1 class="titulo text-center">Pedidos</h1>
<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th class="a">Número</th>
      <th class="a">Data</th>
      <th class="a">Status</th>
      <th class="text-center">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="filtroDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Filtro <i class="fas fa-filter"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="filtroDropdown">
            <li><a class="dropdown-item" href="#">Pedidos de Hoje</a></li>
            <li><a class="dropdown-item" href="#">Período de Data</a></li>
            <li><a class="dropdown-item" href="#">Todos os Pedidos</a></li>
          </ul>
        </div>
      </th>
    </tr>
    <tr>

    </tr>
  </tbody>
</table>
